#####
mod.txt
git.txt

#### \
3d
backup
local
old

### \
FirefoxMoonPortable.ini
#FirefoxPortable.ini

### \App
Firefox_64.39
Firefox_64.39.7z
Firefox_64-
Firefox_64-52



### \App\Firefox*
#browser
uninstall

#AccessibleMarshal.dll
#breakpadinjector.dll
crashreporter.exe

###\Data\Firefox\
bookmarkbackups
cache2
/Data/Firefox/chrome
crashes
datareporting
epub
jumpListCache
healthreport
OfflineCache
safebrowsing
saved-telemetry-pings
ScrapBook
sessionstore-backups
startupCache
storage
thumbnails

###\Data\Firefox
/Data/Firefox/fastdial/cache

parent.lock

cert8.db
cookies.sqlite
cookies.sqlite.bak-rebuild
cookies.sqlite-shm
cookies.sqlite-wal
formhistory.sqlite
key3.db
logins.json
places.sqlite
places.sqlite-shm
places.sqlite-wal
prefs-1.js
prefs-2.js
secmod.db
serviceworker.txt
session.rdf
session-1.rdf
sessionCheckpoints.json
signons.sqlite
webappsstore.sqlite
webappsstore.sqlite-shm
webappsstore.sqlite-wal

sessionstore.js

####
*.7z
#*.zip

*.bak
*.lnk
*.log
*.b#1
*.b#2
*.b#3
*.b#4
*.b#5
*.b#6
*.b#7
*.b#8
*.b#9
*.s#1
*.s#2
*.s#3
*.s#4
*.s#5
*.s#6
*.s#7
*.s#8
*.s#9
*.l#1
*.l#2
*.l#3
*.l#4
*.l#5
*.l#6
*.l#7
*.l#8
*.l#9
*.mpd
*.pro
*.job


